/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-swiper-block {
	border: 1px dotted #f00;
	padding: 1rem;
}

.wp-block-create-block-swiper-block .swiper-wrapper {
	display: flex;
	gap: 40px;
	padding: 1rem;
}

.wp-block-create-block-swiper-block .swiper-slide {
	width: 260px !important;
}

.wp-block-create-block-swiper-block .components-card {
	border-radius: 0.5rem;
	overflow: hidden;
}

.wp-block-create-block-swiper-block .components-card__media {
	display: flex;
	justify-content: center;
}

.wp-block-create-block-swiper-block .components-card__media button {
	padding: 0;
	height: auto;
	background-color: #1f262d;
	min-height: 80px;
	color: white;
	width: 100%;
}

// .wp-block-create-block-swiper-block .components-card__header {
// 	position: absolute;
// 	top: 0;
// 	right: auto;
// 	bottom: auto;
// 	left: 0;
// 	padding-top: 1.77rem;
// 	padding-right: 0;
// 	padding-bottom: 0;
// 	padding-left: 1rem;
// 	border: 0;
// }

.wp-block-create-block-swiper-block .components-card__header h3 {
	// 	width: min-content;
	// 	overflow-wrap: break-word;
	// 	letter-spacing: -0.85px;
	// 	line-height: 1.19;
	margin: 0;
	// 	color: white;
}

.wp-block-create-block-swiper-block .components-card__body {
	padding: 1rem;
}

.wp-block-create-block-swiper-block .components-card__body p {
	color: #1f262d;
	margin: 0;
}

.wp-block-create-block-swiper-block .components-card__footer {
	border: 0;
	padding-top: 0;
	padding-right: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
}

.wp-block-create-block-swiper-block .components-card__footer .components-base-control {
	width: 100%;
}

.wp-block-create-block-swiper-block .delete-slide {
	position: absolute;
	z-index: 9999;
	top: -16px;
	right: 0;
	bottom: auto;
	left: auto;
	background-color: white;
	border-radius: 100px;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 12px;
}